<%- include('partials/head') %>

<body>
    <%- include('partials/navbar') %>
    
        <% if (shows.length === 0) { %>
            <div class="home"><p>Sorry, no Tv-shows found for: <%=searchedText%></p></div>
        <% } else { %>
            <div class="home"><p>Tv-shows found for: <%=searchedText%></p></div>
            <ul id="list-of-shows">
                <% for (let el of shows) { %>
                    <% if (el.show.image) { %>
                        <li class="list-item">
                            <a href="/tv-shows/<%=el.show.id%>">
                                <img src="<%=el.show.image.medium%>"
                                class="li-image"
                            />
                            </a>
                        </li>
                    <% } else { %>
                        <li class="list-item">
                            <a href="/tv-shows/<%=el.show.id%>" class="no-underline">
                                <div class="li-image box-no-img">
                                    <h2 class="show-name-li"><%=el.show.name%></h2> 
                                </div>
                            </a>
                        </li>
                    <% } %>
                <% } %> 
            </ul>
        <% } %> 
   
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>

</body>
</html>