<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About <%=showData.name%></title>
    <link rel="stylesheet" href="/app.css" type="text/css">
</head>

<body>
    <div id="result-container">
        <div id="img-container">
            <% if (showData.image) { %>
                <img class="li-image" src="<%=showData.image.medium%>" alt="">
            <% } %>
        </div>

        <div id="info-container">
            <h2><%=showData.name.toUpperCase()%></h2>
            <% const showGenres = showData.genres %> 
            <h3 class="genres"><%= showGenres.join(", ") %></h3>
            <div id="chan-date-box">
                <% if (showData.network) { %>
                    <% const showCountry = showData.network.country.name; %>
                    <% const showNetwork = showData.network.name; %>
                    <h3 class="channel"><%=showCountry%> - Network: <%=showNetwork%></h3>
                <% } %>
                <% if (showData.webChannel) { %>
                    <% const showNetwork = showData.webChannel.name; %>
                    <h3 class="channel">Network: <%=showNetwork%></h3>
                <% } %>
                <% if (showData.premiered !==null) { %>
                    <h3 id="dates">First episode date: <%=showData.premiered%></h3>          
                    <% if (showData.ended) { %>
                        <h3 id="dates">Last episode date: <%=showData.ended%></h3>
                    <% } else { %>
                        <h3 id="dates">Show still running</h3>
                    <% } %>
                <% } %>
            </div>
            

            <div class="summary"><%- showData.summary%></div> 

            <% if (showData.rating.average !== null) { %>
            <h3 id="rating">Rating: <%=showData.rating.average%></h3>
            <% } %> 
        </div>
    </div>
</body>

</html>