<%- include('partials/head') %>

<div class="main-result">
    <div class="result-container">
        <div>
            <% if (showData.image) { %>
                <img class="show-image" src="<%=showData.image.medium%>" alt="">
            <% } %>
        </div>

        <div id="info-container">
            <h2><%=showData.name.toUpperCase()%></h2>
            <% const showGenres = showData.genres %> 
            <h3 class="genres"><%= showGenres.join(" · ") %></h3>
            <div class="chan-date-box">
                <% if (showData.network) { %>
                    <% const showCountry = showData.network.country.name; %>
                    <% const showNetwork = showData.network.name; %>
                    <h4 class="channel"><%=showCountry%> - Network: <%=showNetwork%></h4>
                <% } %>
                <% if (showData.webChannel) { %>
                    <% const showNetwork = showData.webChannel.name; %>
                    <h4 class="channel">Network: <%=showNetwork%></h4>
                <% } %>
                <% if (showData._embedded.crew) { %>
                    <% const creators = showData._embedded.crew.filter(crew => crew.type === "Creator") %>
                    <% if (creators.length === 1) { %>
                        <h4 class="channel">Creator: <%=creators[0].person.name%></h4>
                    <% } else if (creators.length > 1) { %>
                        <h4 class="channel">Creators:
                            <% for (let i = 0; i < creators.length; i++) { %>
                                <%=creators[i].person.name%>
                                <% if (i !== creators.length -1) { %>
                                    ·
                                <% } %>
                            <% } %>
                        </h4>
                    <% } %>
                <% } %>
                <% if (seasonsData.length) { %>
                    <% const numberSeasons = seasonsData[seasonsData.length - 1].number; %>
                    <h4 class="channel"><%=numberSeasons%> seasons</h4>
                <% } %>
                <% if (showData.premiered !==null) { %>
                    <% if (showData.ended) { %>
                        <h4 id="dates"><%=showData.premiered.slice(0, 4)%> - <%=showData.ended.slice(0, 4)%></h4>
                    <% } else { %>
                        <h4 id="dates"><%=showData.premiered.slice(0, 4)%> - Show still running</h4>
                    <% } %>
                <% } %>
            </div>
            
            <div class="summary"><%- showData.summary%></div> 

            <% if (showData.rating.average !== null) { %>
                <h4 id="rating">Rating: <%=showData.rating.average%></h4>
            <% } %> 

        </div>
    </div>              
    <div class="seasons-container">
        <h2 class="section-title"><span class="section-icon">|</span>SEASONS</h2>
        <div class="seasons-list">
            <% const seasons = seasonsData.length > 14 ? seasonsData.slice(0, 12) : seasonsData; %>
            <% for (let season of seasons) { %>
            <div class="season">
                <% if (season.image) { %>
                    <img class="season-image" src="<%=season.image.medium%>" alt="">
                <% } else if (showData.image) { %>
                    <img class="season-image" src="<%=showData.image.medium%>" alt="">
                <% } else {%>
                    <div class="no-image">Season <%= season.number %></div>
                <% } %>
                <% if (season.name !== "") { %>
                    <a href="/tv-shows/<%=season.id%>/episodes">
                        <%= season.name %> 
                    </a>
                <% } else { %>
                    <a href="/tv-shows/<%=season.id%>/episodes">
                        Season <%= season.number %> 
                    </a>
                <% } %>  
                
            </div>
        <% } %> 
        <% if ( seasonsData.length > 14) {%>
                <a href="/tv-shows/<%=showData.id%>/seasons" class="big-link">
                    <h2>See more</h2>
                    <p>+<%=seasonsData.length-12%></p>
                    <svg xmlns="http://www.w3.org/2000/svg" height="2em" viewBox="0 0 320 512"><style>svg{fill:#eaeaea}</style><path d="M278.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L210.7 256 73.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z"/></svg>
                </a> 
                    
        <% } %> 
        </div>
    </div>

    <div class="cast-container">
        <h2 class="section-title"><span class="section-icon">|</span>TOP CAST</h2>
        <div class="cast-list">
            <% const topCast = castData.slice(0, 16); %>
            <% for (let castMember of topCast) { %>
            <div class="cast-info">
                <div class="avatar">
                    <% if (castMember.person.image) { %>
                        <img class="cast-image" src="<%=castMember.person.image.medium%>" alt="">
                    <% } else { %>
                        <div class="cast-no-image">
                            <svg xmlns="http://www.w3.org/2000/svg" height="4em" viewBox="0 0 448 512"><style>svg{fill:#eaeaea}</style><path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"/></svg>
                        </div>
                    <% } %>
                </div>
                <div>
                    <h3><%=castMember.person.name%></h3>
                    <h3 class="char-name"><%=castMember.character.name%></h3>
                </div>

            </div>
        <% } %> 
        </div>
    </div>
</div>

</body>
</html>